# {{ theme_name }}.nvim

A Neovim plugin providing the [{{ theme_name }}](https://github.com/kymzky/{{ theme_name }}) colorscheme.

## Note

This repository is automatically maintained via the GitHub workflow of the original colorscheme repo. Changes should be made in the original repository.
