[colors.primary]
background = "#{{ green }}"

[colors.normal]
green = "#{{ lightgreen }}"
red = "#{{ lightred }}"

[colors.cursor]
cursor = "#{{ yellow }}"

[font.normal]
family = "{{ font }}"

[window]
startup_mode = "Maximized"
decorations = "none"
